<!doctype html>
<html lang="zh-cmn-Hans">
<head>
  <meta charset="UTF-8">
  <meta name="viewport"
        content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
  <meta name="jwt-token" content="{{ token }}">
  <meta name="app-version" content="{{ version }}">
  <meta name="app-name" content="{{ name }}">
  <title></title>
</head>
<script type="application/json" id="page-data" charset="utf-8">
  {{{ data }}}
</script>
<body id="calibur">
<div id="app"></div>
</body>
</html>
