{
  "presets": [
    [
      "env",
      {
        "targets": {
          "browsers": [
            "> 1%",
            "last 3 versions",
            "iOS > 9",
            "chrome >= 33"
          ]
        }
      }
    ],
    "stage-0"
  ],
  "plugins": [
    "syntax-dynamic-import",
    "transform-runtime",
    "babel-plugin-lodash",
    ["component", [
      {
        "libraryName": "element-ui",
        "styleLibraryName": "theme-chalk"
      },
      {
        "libraryName": "mint-ui",
        "style": false
      }
    ]],
    ["import", {
      "libraryName": "vant",
      "libraryDirectory": "es",
      "style": true
    }]
  ]
}