{
  "presets": [
    [
      "@babel/preset-env",
      {
        "useBuiltIns": "usage"
      }
    ]
  ],
  "plugins": [
    "babel-plugin-lodash",
    ["component", { "libraryName": "element-ui", "styleLibraryName": "theme-chalk"}, "element-ui"],
    ["component", { "libraryName": "mint-ui", "style": false}, "mint-ui"],
    [
      "import",
      {
        "libraryName": "vant",
        "libraryDirectory": "es",
        "style": true
      }
    ]
  ]
}
