{
  "extends": [
    "plugin:vue/recommended",
    "plugin:prettier/recommended"
  ],
  "parserOptions": {
    "parser": "babel-eslint"
  },
  "env": {
    "browser": true,
    "node": true,
    "mocha": true
  },
  "rules": {
    "no-undef": "error",
    "no-unused-vars": "warn",
    "no-else-return": "warn"
  },
  "globals": {
    "M": true
  }
}
