{
  "processors": [
    "stylelint-processor-html"
  ],
  "extends": [
    "stylelint-config-recommended",
    "stylelint-config-prettier"
  ],
  "rules": {
    "at-rule-no-unknown": null,
    "no-empty-source": null,
    "no-descending-specificity": null,
    "font-family-no-missing-generic-family-keyword": null,
    "selector-type-no-unknown": null,
    "block-no-empty": null
  }
}
