<!doctype html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport"
        content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
  <meta name="jwt-token" content="{{ token }}">
  <meta name="app-version" content="{{ version }}">
  <meta name="app-name" content="{{ name }}">
  <title>交易记录</title>
</head>
<script>window.onerror=function(msg,url,lineNo,columnNo,error){var message=['Message：'+msg,'URL：'+url,'Line：'+lineNo,'Column：'+columnNo,'Error：'+JSON.stringify(error)];var printError = function(line){var container = document.getElementById('error-box');if(!container){return;};var el = document.createElement('li');el.innerHTML=line;container.insertBefore(el,container.children[0]);};for(var i=0;i<message.length;i++){printError(message[i]);return false;}};</script>
<script type="application/json" id="page-data" charset="utf-8">
  {{{ data }}}
</script>
<body id="calibur">
<div id="app"></div>
</body>
</html>
