<!doctype html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport"
        content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
  <meta name="format-detection" content="telephone=no"/>
  <meta name="format-detection" content="email=no"/>
  <meta name="format-detection" content="address=no"/>
  <meta name="format-detection" content="date=no"/>
  <meta name="jwt-token" content="{{ token }}">
  <title>我的收藏</title>
</head>
<body id="calibur">
<div id="app"></div>
</body>
</html>
