#calibur {
  .mint-msgbox {
    border-radius: 13px;
    background-color: rgba(255, 255, 255, 0.95);

    &-message {
      line-height: 24px;
      font-size: 14px;
      color: #000;

      span {
        display: block;
        text-align: left;
        font-size: 14px;
        text-indent: 2em;
        word-break: break-all;
      }

      p {
        line-height: 36px;
      }
    }

    &-title {
      font-size: 18px;
      font-weight: 600;
    }

    &-btn {
      background-color: transparent;
      font-size: 17px;
      color: #007aff !important;
    }
  }
}