@import "reboot";
@import "mint-ui.css";
@import "variables";

html, body, #calibur, .container {
  height:  100%;
}

.oneline {
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

.container {
  padding-left: $container-padding;
  padding-right: $container-padding;
}

.clearfix {
  &:after {
    content: '';
    clear: both;
    display: table;
  }

  &:before {
    content: '';
    clear: both;
    display: table;
  }
}

.flow-header {
  margin-top: 15px;

  .title {
    color: #22222b;
    font-size: 23px;
    line-height: 32px;
    font-weight: 500;
  }
}

.flow-content {
  margin-top: 15px;
  margin-bottom: 20px;
}

.flow-images {
  .image {
    margin-bottom: 15px;
  }
}