@import "reboot";
@import "mint-ui.css";
@import "variables";

html, body, #calibur, .container {
  height:  100%;
}

.oneline {
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

.container {
  padding-left: $container-padding;
  padding-right: $container-padding;
}

.clearfix {
  &:after {
    content: '';
    clear: both;
    display: table;
  }

  &:before {
    content: '';
    clear: both;
    display: table;
  }
}