@import "reboot";
@import "mint-ui.css";
@import "variables";

.oneline {
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

.container {
  margin-left: $container-padding;
  margin-right: $container-padding;
}

.clearfix {
  &:after {
    content: '';
    clear: both;
    display: table;
  }

  &:before {
    content: '';
    clear: both;
    display: table;
  }
}