$color-blue: #00a1d6;
$color-pink: #ff8eb3;

$color-text-gray: #6d757a;
$color-text-normal: #22222b;
$color-text-light: #a4a4ae;
$color-line: #e5e5e5;
$color-background: #edf1f4;
$color-press-active: #f6f6f6;

$color-red: #ff6881;
$color-link: #49689B;

$container-padding: 15px;