$color-text-gray: #6d757a;
$color-text-normal: #14171a;
$color-text-light: #657786;
$color-line: #ccd6dd;
$color-background-container: #e7ecf2;
$color-background-tag: #f5f8fa;
$color-press-active: #f6f6f6;
$color-avatar-border: #e7ecf2;

$color-red: #ff6881;
$color-link: #49689B;

$container-padding: 15px;